# Keep only essential files for the Vivado project
vivado/*
!vivado/universal_interface.xpr
!vivado/universal_interface.srcs
vivado/universal_interface.srcs/**/*.dcp

# Do not version control compiled binary files
software/**/*.pyc