# Keep only essential files for the Vivado project
vivado/*
!vivado/universal_interface.xpr
!vivado/universal_interface.srcs
vivado/universal_interface.srcs/**/*.dcp

# Do not version control compiled binary files
software/**/*.pyc
software/**/*.exe

# Do not version control pyinstaller build files (except .exe)
software/python/build
software/python/__pycache__

software/.vscode
software/.qtc_clangd
software/cpp/.qtc_clangd

# Do not version control C++ build files
software/cpp/non_gui/build
software/cpp/qt_gui/build
